@model ONLINE_SHOPPING.FO.Models.DetailAndRelateProduct

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    string localhost = System.Web.Configuration.WebConfigurationManager.AppSettings["LocalhostOnlineShopping.BO"];
}

@using ONLINE_SHOPPING.FO.Helpers

<ol class="breadcrumb" style="border-bottom: 1px solid #c8c8c8;">
    @if (Model.ProductDetails.Brand.Name != "KHÁC")
    {
        <li><a href="@Url.Action("ProductList", "ViewSite", new { CategoryID = 0})">Thời trang cho bé</a></li>
    }
    else
    {
        <li><a href="@Url.Action("ProductList", "ViewSite", new { CategoryID = 1 })">Đồ ăn</a></li>
    }
    <li><a href="@Url.Action("ProductList", "ViewSite", new { BrandID = Model.ProductDetails.Brand.ID })">@Model.ProductDetails.Brand.Name</a></li>
    <li>@Model.ProductDetails.Name</li>
</ol>

<div class="container" style="width:100%">
    <div class="container-fliud">
        <div class="wrapper row">
            <div class="preview col-md-8">

                <div class="preview-pic tab-content">

                    <input id="ProductID" name="ProductID" type="hidden" value="@Model.ProductDetails.ID" />

                    @if (Model.ProductDetails.Images.Count == 0)
                    {
                    <div class="tab-pane active" id="pic-0"><img src="@localhost/Images/@Model.ProductDetails.DefaultImage" style=" width:450px ;height:300px" /></div>
                    }
                    
                    @for (int i = 0; i < Model.ProductDetails.Images.Count; i++)
                    {
                        int id = i + 1;
                        if (i == 0)
                        {
                            <div class="tab-pane active" id="pic-@id"><img src="@localhost/Images/@Model.ProductDetails.Images[i].Name" style=" width:450px ;height:300px" /></div>
                        }
                        else
                        {
                            <div class="tab-pane" id="pic-@id"><img src="@localhost/Images/@Model.ProductDetails.Images[i].Name" style=" width: 450px; height: 300px" /></div>
                        }
                    }
                </div>
                <ul class="preview-thumbnail nav nav-tabs">


                    @for (int i = 0; i < Model.ProductDetails.Images.Count; i++)
                    {
                        int id = i + 1;
                        if (i == 0)
                        {
                            <li class="active"><a data-target="#pic-@id" data-toggle="tab"><img src="@localhost/Images/@Model.ProductDetails.Images[i].Name" style=" width: 100px; height: 80px" /></a></li>
                        }
                        else
                        {
                            <li><a data-target="#pic-@id" data-toggle="tab"><img src="@localhost/Images/@Model.ProductDetails.Images[i].Name" style=" width: 100px; height: 80px" /></a></li>
                        }
                    }
                </ul>

            </div>
            <div class="details col-md-6">
                <h3 class="product-title">@Model.ProductDetails.Name</h3>
                <h4 class="price">Mã sản phẩm: <span style="color:red; font-size:24px;">@Model.ProductDetails.ID</span></h4>

                @if (!(Model.ProductDetails.Quantity <= 0))
                {
                    <h4 class="price">Giá: <span class="product-detail-price">@Html.FormatMoney(Model.ProductDetails.Price)</span> <span class="glyphicon glyphicon-usd change-money" data-moneyratename="VND" style="margin-left:20px; cursor:pointer ;color:black" aria-hidden="true"></span></h4>                     
                    <span class="product-price-hidden">@Model.ProductDetails.Price</span>
                }
                else
                {
                    <h4 class="price"><span>HẾT HÀNG</span></h4>
                }

                <h4> <b>Loại sản phẩm: </b><span font-size:25px;"> @Model.ProductDetails.Category.Name</span></h4>
                <h4> <b>Thương hiệu: </b><span font-size:25px;"> @Model.ProductDetails.Brand.Name</span></h4>
                <h4> <b>Độ tuổi: </b><span font-size:25px;"> @Model.ProductDetails.AgeType.Name</span></h4>
                
                @if (!(Model.ProductDetails.Quantity <= 0))
                {
                    <div>
                    <label class="control-label" style="font-size:18px;">Số lượng: </label>
                    <select id="Quantity" class="form-control" name="Quantity" style="width: 160px; display: inline">                        
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                
                <div class="action" style="margin-top:10px">
                    <button class="add-to-cart btn btn-default" type="button">Cho vào giỏ hàng</button>
                </div>
                }
                

               
            </div>
        </div>
    </div>
    <br />
    <h4 style="border-bottom: 1px solid #c8c8c8;"><b>Mô tả thông tin sản phẩm:</b></h4>
    <p class="product-description">
        @Html.Raw(HttpUtility.HtmlDecode(Model.ProductDetails.ShortDescription))
        <br />
        @Html.Raw(HttpUtility.HtmlDecode(Model.ProductDetails.LongDescription))
    </p>
    <br />
    <div class="row" style="margin-left:-20px;">
        <div class=" col-lg-12">
            <h4 style="border-bottom: 1px solid #c8c8c8;"><b>Sản phẩm liên quan:</b></h4>
        </div>
    </div>

    <div class="row text-center" style="margin-left:-20px;">
        @for (int i = 0; i < Model.RelateProducts.Count; i++)
        {
            <div class="col-md-3 col-sm-6 col-lg-4 hero-feature">
                <a href="/ViewSite/ProductDetails/?ID=@Model.RelateProducts[i].ID">
                    <div class="thumbnail">
                        <img src="@localhost/Images/@Model.RelateProducts[i].DefaultImage" style=" width:200px ;height:150px" />
                        <div class="caption">
                            <h4>@Model.RelateProducts[i].Name</h4>
                            <p class="product-price">@Html.FormatMoney(Model.RelateProducts[i].Price)</p>                            
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<script>

    $('.change-money').click(function () {
        var currentmoney = $('.product-price-hidden').html();
        var currentmoneyratename = $('.change-money').data('moneyratename');

        ChangeMoneyRate(currentmoney, currentmoneyratename);
    });

    $('.add-to-cart').bind("click", function (e) {

        var ProductID = $('#ProductID').val();
        var Quantity = $('#Quantity').val();

        AddCartItem(ProductID, Quantity);
        CrollToTop();
    });

    function CrollToTop() {
        $('html, body').animate({ scrollTop: 0 }, 400);

    }

  

    function AddCartItem(ProductID, Quantity) {
        $.ajax({
            type: 'POST',
            url: '/Cart/AddCartItem',
            data: { ProductID: ProductID, Quantity: Quantity },
            success: function (CartItemsHTML) {
                $('#cart').html(CartItemsHTML);   
            },
            error: function () {
                alert('error');
            }
        });
    }


    function ChangeMoneyRate(CurrentMoney, CurrentMoneyRateName) {
        $.ajax({
            type: 'POST',
            url: '/ViewSite/ChangeMoney',
            data: { CurrentMoney: CurrentMoney, CurrentMoneyRateName: CurrentMoneyRateName },
            success: function (response) {
                $('.product-detail-price').html(response.ResultMoney);
                $('.product-price-hidden').html(response.MoneyWithoutFormat);
                $('.change-money').data('moneyratename', response.MoneyRateName);
            },
            error: function () {
                alert('error');
            }
        });
    }   

</script>